body {
    background-image: url('assets/building.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 0, 0.5);
    z-index: 1;
}

.container {
    text-align: center;
    background-color: rgba(249, 242, 213, 0.87);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 22px;
    width: 375px;
    max-width: 90%;
    border: 5px solid #876741;
    position: relative;
    z-index: 2;
    overflow-y: auto; 
    max-height: 90vh; 
}

.container::-webkit-scrollbar {
    display: none; 
}

h1 {
    font-size: 1.7em;
    margin-bottom: 15px;
    color: #ffffff;
}

.title-icon {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.3);
    border: 5px solid #876741;
}

#toggleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
}

.microphone-btn {
    width: 150px;
    height: auto;
}

.control-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
}

button {
    padding: 9px 16px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    background-color: #f0f0f0;
    border: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    width: 140px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#recordButton {
    background-color: #4CAF50;
}

#playbackButton {
    background-color: #4CAF50;
}

button:hover:not(:disabled) {
    opacity: 0.8;
    transform: scale(1.05);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 18px;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.control-group input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 180px;
    background: #ffffff;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.control-group input[type="range"][orient="vertical"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 180px;
    margin-bottom: 8px;
}

.control-group input[type="range"]:hover {
    background-color: #550000;
}

.control-group input[type="range"]:focus {
    background-color: #3d0000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.control-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #800000;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
}

.control-group input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #550000;
    transform: scale(1.1);
}

.control-group input[type="range"]::-webkit-slider-thumb:active {
    background-color: #3d0000;
}

label {
    font-size: 1.1em;
    margin-top: 8px;
    display: block;
    color: #070707;
}

#volumePercentage, #echoPercentage {
    font-size: 1em;
    color: #070707;
    text-align: center;
}

#status {
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 18px;
    text-align: center;
    color: #070707;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 80%;
        max-width: 350px;
    }

    h1 {
        font-size: 1.4em;
    }

    .microphone-btn {
        width: 130px;
    }

    .control-btn {
        flex-direction: row;
        gap: 12px;
    }

    button {
        width: auto;
        padding: 7px 12px;
    }

    .controls {
        width: 100%;
        justify-content: space-evenly;
    }

    .control-group input[type="range"] {
        width: 13%;
        height: 4px;
    }

    .title-icon {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    .container {
        padding: 10px;
    }

    .microphone-btn {
        width: 110px;
    }

    button {
        width: 100%;
        padding: 6px 10px;
    }

    .controls {
        gap: 10px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .control-group input[type="range"] {
        width: 10%;
        height: 2px;
    }

    .title-icon {
        width: 50px;
        height: 50px;
    }
}
